        <div class="inner-container">
            <h1>Update Preferences</h1>
            <a class="btn btn-default btn-sm" href="admin_overview.php" role="button">Overview</a>
            <hr>

            <form method="POST" action="admin_preferences.php">
                <div class="form-group">
                    <label for="password.new">New Password</label>
                    <input id="password.new" class="form-control" maxlength="30" type='password' name="password.new">
                    <label for="password.old">Old Password</label>
                    <input id="password.old" class="form-control" maxlength="30" type='password' name="password.old">
                </div>
                <div class="form-group">
                    <label for="categories">Categories</label>
                    <input id="categories" class="form-control" name="categories" value="{{ categories }}" required>
                    <p class="help-block">As comma separated list.</p>
                </div>
                <div class="form-group">
                    <label for="categories.colors">Colors for Categories</label>
                    <input id="categories.colors" class="form-control" name="categories_colors" value="{{ categories.colors }}" required>
                    <p class="help-block">Example: FF0000,00FF00,..</p>
                </div>                
                <input type="hidden" name="action" value="update">
                <input class="btn btn-primary btn-sm" type="submit" value="Update">
            </form>
        </div>