        <div class="inner-container">
            <h1>Create Task</h1>
            <p><a class="btn btn-default btn-sm" href="admin_overview.php" role="button">Overview</a></p>

            <form class="edit-form" method="POST" action="admin_create_task.php">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" type="text" name="title" required>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" name="category" required>{{ block:<option value="{{ categories }}">{{ categories }}</option>:endblock }}</select>
                </div>                
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="date.creation">Creation Date</label>
                    <input id="date.creation" class="form-control" type="text" name="date_creation" value="{{ today }}" required>
                    <p class="help-block">Format: YYYY-MM-DD</p>                    
                </div>
                <input type="hidden" name="action" value="create">                
                <input class="btn btn-primary btn-sm" type="submit" value="Create">
            </form>
        </div>