        <div class="inner-container">
            <h1>Edit Task</h1>
            <a class="btn btn-default btn-sm" href="admin_overview.php" role="button">Overview</a>    
            <p class="text-info">Task ID: {{ Id }}</p>
            
            <form class="edit-form" method="POST" action="admin_edit_task.php">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" type="text" name="title" value="{{ Title }}" required>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" name="category" required>{{ block:<option value="{{ categories }}"{{ categories_selected }}>{{ categories }}</option>:endblock }}</select>
                </div>                
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" name="description" required>{{ Description }}</textarea>
                </div>                
                <div class="form-group">
                    <label for="date.creation">Creation Date</label>
                    <input id="date.creation" class="form-control" type="text" name="date_creation" value="{{ CreationDate }}" required>
                    <p class="help-block">Format: YYYY-MM-DD</p>                    
                </div>                
                <div class="form-group">
                    <label for="dependencies">Dependencies</label>
                    <input id="dependencies" class="form-control" type="text" name="dependencies" value="{{ Dependencies }}">
                </div>                
                <div class="form-group">
                    <label for="assignedto">Assigned To</label>
                    <input id="assignedto" class="form-control" type="text" name="assigned_to" value="{{ AssignedTo }}">
                </div>
                <div class="form-group">
                    <label for="date.assigned">Assigned Date</label>
                    <input id="date.assigned" class="form-control" type="text" name="date_assigned" value="{{ AssignedDate }}">
                    <p class="help-block">Format: YYYY-MM-DD</p>                    
                </div>
                <div class="form-group">
                    <label for="completion">Completion message</label>
                    <textarea id="completion" class="form-control" name="completion">{{ Completion }}</textarea>
                </div>                
                <div class="form-group">
                    <label for="date.completion">Completion Date</label>
                    <input id="date.completion" class="form-control" type="text" name="date_completion" value="{{ CompletionDate }}">
                    <p class="help-block">Format: YYYY-MM-DD</p>                    
                </div>                
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="id" value="{{ Id }}">
                <input class="btn btn-primary btn-sm" type="submit" value="Edit">
            </form>            
        </div>