        <div class="inner-container">
            <h1>List Tasks</h1>
            <p><a class="btn btn-default btn-sm" href="admin_overview.php" role="button">Overview</a></p>
            <p><span class="badge">{{ number_tasks }}</span> tasks in database.</p>

            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Category</td>
                    <td>Description</td>
                    <td>Creation Date</td>
                    <td>Dependencies</td>
                    <td>Assigned to</td>
                    <td>Assigned Date</td>
                    <td>Completion Message</td>
                    <td>Completion Date</td>
                </tr>
                </thead>
                <tbody>{{ block:
                <tr>
                    <td>{{ Id }}</td><td>{{ Title }}</td>
                    <td>{{ Category }}</td>
                    <td>{{ Description }}</td>
                    <td>{{ CreationDate }}</td>
                    <td>{{ Dependencies }}</td>
                    <td>{{ AssignedTo }}</td>
                    <td>{{ AssignedDate }}</td>
                    <td>{{ Completion }}</td>
                    <td>{{ CompletionDate }}</td>
                </tr>:endblock }}
                </tbody>
            </table>
        </div>
