        <div class="inner-container">
            <h1>Overview</h1>
            <p class="text-info">{{ info_message }}</p>
            <p><span class="badge">{{ number_records }}</span> tasks in database.</p>
            <p><a href="help.html">Help</a></p>
            
            <h2>List Tasks</h2>
            <p>Lists all tasks in the database.</p>
            <a class="btn btn-primary btn-sm" href="admin_list_tasks.php" role="button">Show</a>
            <hr>

            <h2>Create Task</h2>
            <p>Creates a new task.</p>
            <a class="btn btn-primary btn-sm" href="admin_create_task.php" role="button">Create</a>
            <hr>

            <h2>Edit Task</h2>
            <p>Edits the task with a certain ID.</p>
            <form class="selection-form" method="POST" action="admin_edit_task.php">
                <div class="form-group">
                    <label for="id">Task ID</label>
                    <input id="id" class="form-control" type="text" name="id" required>
                    <input type="hidden" name="action" value="show">
                </div>
                <input class="btn btn-primary btn-sm" type="submit" value="Edit">
            </form>
            <hr>

            <h2>Delete Task</h2>
            <p>Deletes the task with a certain ID.</p>
            <p class="text-danger">The task is deleted permanently from the database.</p>
            <form class="selection-form" method="POST" action="admin_delete_task.php">
                <div class="form-group">
                    <label for="id">Task ID</label>
                    <input id="id" class="form-control" type="text" name="id" required>
                </div>
                <input class="btn btn-primary btn-sm" type="submit" value="Delete">
            </form>
            <hr>

            <h2>Update Cache</h2>
            <p>Updates the displayed front end information.</p>
            <a class="btn btn-primary btn-sm" href="admin_update_cache.php" role="button">Update</a>

            <h2>Update Preferences</h2>
            <p>Sets/updates the preferences (password, categories).</p>
            <a class="btn btn-primary btn-sm" href="admin_preferences.php" role="button">Update</a>
            
            <h2>Clear Database</h2>
            <p>Clears all tasks in the database.</p>
            <p class="text-danger">The tasks are deleted permanently from the database.</p>            
            <a class="btn btn-primary btn-sm" href="admin_clear_database.php" role="button">Clear all</a>
            
            <h2>Logout</h2>
            <a class="btn btn-primary btn-sm" href="logout.php" role="button">Logout</a>
            
        </div>
