/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

table.task-table > tbody > tr > td {
  padding: 3px 8px;
  vertical-align: top;
}

strong.task-id {
    width: 20px;
    float: left;
    text-align: right;
}

strong.task-title {
    margin-left: 10px;
}

{{ block:
div.cat{{ CategoryNumber }} {
    background-color: #{{ CategoryColor }} !important;
}
:endblock}}