            <a class="pull-right" href="help.html">Help</a>

            <!-- navigation bar -->
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="tasks_available.html">Available&nbsp;&nbsp;&nbsp;<span class="badge">{{ available_tasks }}</span></a>
                        </li>
                        <li>
                            <a href="tasks_blocked.html">Blocked&nbsp;&nbsp;&nbsp;<span class="badge">{{ blocked_tasks }}</span></a>
                        </li>
                        <li>
                            <a href="tasks_inprogress.html">In Progress&nbsp;&nbsp;&nbsp;<span class="badge">{{ inprogress_tasks }}</span></a>
                        </li>
                        <li class="active">
                            <a href="tasks_completed.html">Completed&nbsp;&nbsp;&nbsp;<span class="badge">{{ completed_tasks }}</span></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- task list -->
            <div class="panel-group">{{ block:
                <div class="panel panel-default">
                    <div class="cat{{ CategoryNumber }} panel-heading">
                        <strong class="task-id">{{ Id }}</strong>
                        <strong class="task-title"><a data-toggle="collapse" href="#collapse{{ Id }}">{{ Title }}</a></strong>
                    </div>
                    <div id="collapse{{ Id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="small task-table table-hover">
                                <tr><td>Category</td><td>{{ Category }}</td></tr>
                                <tr><td>Created</td><td>{{ CreationDate }}</td></tr>
                                <tr><td>Assigned</td><td>{{ AssignedDate }} to <strong>{{ AssignedTo }}</strong></td></tr>
                                <tr><td>Completed</td><td>{{ CompletionDate }}</td></tr>
                                <tr><td>Description</td><td>{{ Description }}</td></tr>
                                <tr><td>Result</td><td>{{ Completion }}</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
:endblock }}
            </div>

