/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body {
    background-color: #CCC;
}

.inner-container {
    background-color: #FFF;
    margin: 15px;
    padding: 15px;
}

.selection-form {
    max-width: 100px;    
}

.edit-form {
    max-width: 500px;
}

.login-form {
    max-width: 330px;
    padding: 15px;    
    margin: 10% auto;
    background-color: #FFF;
}
